<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Teacher Registration page</title>
</head>
<body>
    <div>
        <h1>New Teacher ??? Register here</h1>
        <form action="http://localhost:8000/shikshapp/new-teacher-signup/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username"></td>
                    {% if error_msg %}
                    <td>{{error_msg}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="signup"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>