<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/teacher_login.css' %}">
    <title>Teacher login</title>
</head>
<body>
    <div class="container">
        <h1 id="login">LOG IN</h1>
        <h3>(Restricted to teachers only)</h3>
        <form id="form" class="form" action="http://localhost:8000/shikshapp/teacher-login-validate/" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="signin"></td>
                    <td><a href="http://localhost:8000/shikshapp/new-teacher">Create account</a></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>