@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}
body{
    min-height: 100vh;
}
/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #4B0082;
    --secondary-color: #096e6e;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
  }
html{
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo-icon{
    color: var(--primary-color);
}
.shiksha{
    color: var(--primary-color);
}
.studio{
    color:var(--secondary-color);
}
.hamburger{
    display: none;
}
.logo{
    font-size: 1rem;
    font-weight: bold;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-item {
    margin-left: 2rem;
}
  
.nav-link {
    font-weight: 500;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 1000px;
  margin: 2rem auto -6rem;
  height: 100%;
  width:100%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border-style: solid;
    color: white;
    background-color: var(--primary-color)
}
.btn:hover{
    background-color: var(--secondary-color);
    color: white;
}
iframe {
    max-width: 30rem;
    border-top: 40px ridge var(--primary-color);
    border-bottom: 40px ridge var(--primary-color);
    border-right: 28px ridge var(--secondary-color);
    border-left: 28px ridge var(--secondary-color);
}

