@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #4B0082;
    --secondary-color: #096e6e;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
 }
.container{
    background-color: white;
    padding: 5rem 5rem;
    border-top: 40px groove var(--primary-color);
    border-bottom: 40px groove var(--primary-color);
    border-right: 28px solid black;
    border-left: 28px solid black;
}
a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
h1{
    margin: 0;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}